@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,400&display=swap");
.button-primary, .button-primary:link, .button-primary:visited {
  display: grid;
  background-color: #2E20A7;
  border-radius: 10px;
  color: #fff;
  padding: 2rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  border: 2px solid #fff;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  vertical-align: baseline;
}

html {
  font-size: 63.5%;
}

body {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

.heading-primary {
  color: #fff;
  font-weight: 900;
}
.heading-primary--up {
  font-size: 13rem;
}
.heading-primary--main {
  text-transform: uppercase;
  font-size: 6rem;
}

.heading-secondary {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.heading-secondary--up {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2;
}
.heading-secondary--main {
  font-weight: 700;
  font-size: 3rem;
}
.heading-secondary--sub {
  font-weight: 700;
  font-size: 2.5rem;
  color: #FFA015;
  line-height: 0.4;
}

.u_rotate3 {
  display: inline-block !important;
  transform: rotate(-3deg) !important;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 5fr;
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
  max-height: 100vh;
}
.header__background-color {
  background-color: #2E20A7;
  grid-column: 1/span 3;
  grid-row: 1/span 7;
}
.header__logo {
  grid-column: 1/span 1;
  grid-row: 1/span 4;
  align-self: center;
  justify-self: center;
}
.header__heading {
  grid-column: 2/span 2;
  grid-row: 3/span 3;
}
.header__button {
  grid-column: 2;
  grid-row: 6/span 1;
  align-self: center;
  justify-self: start;
}
.header__background-image {
  background-image: url(../../img/01_header-fabio-comparelli-uq2E2V4LhCY-unsplash.jpg);
  background-image: url(../img/01_header-fabio-comparelli-uq2E2V4LhCY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 4/span 6;
  grid-row: 1/span 8;
  background-repeat: no-repeat;
}
.header__background-filter {
  z-index: 2;
  background-color: #2E20A7;
  grid-column: 4/span 1;
  grid-row: 1/span 7;
  mix-blend-mode: screen;
}
.header .heading-primary {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5rem;
  grid-template-rows: auto 1fr;
  justify-items: start;
  justify-content: center;
}
.header .heading-primary--up {
  grid-column: 1;
  grid-row: 1;
  position: relative;
}
.header .heading-primary--up__text {
  z-index: 50;
  position: relative;
}
.header .heading-primary--up__underline {
  display: flex;
  transform: translateY(-4.5rem);
}
.header .heading-primary__arrow {
  width: 100%;
  align-self: center;
}
.header .heading-primary--main {
  grid-column: 1/span 2;
  position: relative;
}
.header .heading-primary--main__text {
  z-index: 100;
  position: relative;
}
.header .heading-primary--main__underline {
  display: flex;
  position: absolute;
  bottom: -0.5rem;
  width: 100%;
  right: 0;
  z-index: -1;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 5rem;
  left: 10rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
}
.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  position: fixed;
  top: 4.5rem;
  left: 9rem;
  background-image: radial-gradient(rgba(46, 32, 167, 0.6), #2E20A7);
  z-index: 999;
  transition: transform 0.8s;
}
.navigation__nav {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.navigation__list {
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1.2rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}
.navigation__link:hover {
  color: #FFA015;
  transform: translateX(0.5rem);
}
.navigation__link:active {
  color: #FFA015;
  transform: translateX(1.2rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  transform: translateY(-0.1rem);
}
.navigation__button:hover .navigation__icon::after {
  transform: translateY(0.1rem);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.accroche {
  margin-top: 9rem;
}

/*# sourceMappingURL=preview-style.comp.css.map */
