@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,400&display=swap");
.btn, .btn:link, .btn:visited {
  display: grid;
  border-radius: 10px;
  color: #fff;
  padding: 2rem 4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  border: 2px solid #fff;
  justify-content: center;
  width: fit-content;
}
.btn-primary {
  background-color: #2E20A7;
}
.btn-secondary {
  background-color: #FFA015;
}

.container--1400 {
  max-width: 140rem;
  margin: 0 auto;
  padding: 5rem 1rem;
}
.container--1200 {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem 4rem;
}
.container--video {
  max-width: 100rem;
  margin: 0 auto;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about > :first-child {
  padding-bottom: 0;
}
.about > :nth-child(2) {
  padding-top: 0;
}
.about__image {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: start;
}
.about__image__picture, .about__image__background {
  grid-row: 1;
  grid-column: 1;
}
.about__image__picture {
  z-index: 2;
  display: block;
  max-width: 60rem;
  height: auto;
  clip-path: ellipse(21rem 21rem at 50% 40%);
}
.about__image__background {
  z-index: 1;
  position: relative;
  width: 100%;
  max-width: 45rem;
}
.about__heading, .about__coaching {
  grid-column: 1/span 5;
  display: flex;
  flex-direction: column;
}
.about__heading span:last-of-type {
  margin-left: 5rem;
}
.about__coach__button-container {
  display: grid;
  justify-items: end;
  margin-top: 2rem;
}
.about__arrow {
  grid-column: 4/span 5;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 2fr;
}
.about__arrow__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  line-height: initial;
}
.about__arrow__text span {
  font-size: 3rem;
}
.about__arrow img {
  width: 20rem;
  grid-row: 2;
  grid-column: 1/span 2;
  justify-self: center;
}
.about__advantages {
  grid-column: 7/span 5;
  grid-row: 2/3;
}
.about__advantages__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
}
.about__advantages__item__img {
  width: 5rem;
}
.about__advantages__item__text {
  color: #fff;
  border-radius: 1rem;
  padding: 1.5rem 2rem;
  vertical-align: bottom;
  align-self: center;
}
.about__advantages__item--1 p {
  background-color: #2E20A7;
}
.about__advantages__item--2 p {
  background-color: rgba(46, 32, 167, 0.9);
}
.about__advantages__item--3 p {
  background-color: rgba(46, 32, 167, 0.8);
}
.about__advantages__item--4 p {
  background-color: rgba(46, 32, 167, 0.7);
}
.about__advantages__item--5 p {
  background-color: rgba(46, 32, 167, 0.6);
}
.about__advantages__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.about__btn {
  grid-column: 2/span 2;
  justify-self: end;
  align-self: flex-end;
}

.accroche h2 {
  text-align: center;
}
.accroche__infographic {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 10rem 0;
}
.accroche__infographic img {
  grid-column: 2;
}
.accroche__btn {
  margin-top: 2rem;
}

.grid {
  display: grid;
}
.grid-2x1fr {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}
.grid-11x1fr {
  grid-template-columns: repeat(11, 1fr);
  column-gap: 2rem;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

strong {
  font-weight: 700;
}

.heading-primary {
  color: #fff;
  font-weight: 900;
}
.heading-primary--up {
  font-size: 13rem;
}
.heading-primary--main {
  text-transform: uppercase;
  font-size: 6rem;
}

.heading-secondary {
  text-align: left;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.heading-secondary--up {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2;
}
.heading-secondary--main {
  font-weight: 700;
  font-size: 6rem;
}
.heading-secondary--sub {
  font-weight: 700;
  font-size: 5rem;
  color: #FFA015;
  line-height: 0.4;
}

.quote {
  color: #fff;
  text-align: center;
}
.quote__text {
  text-transform: uppercase;
  font-size: 3rem;
}
.quote__author {
  font-size: 2rem;
  line-height: 200%;
}

p {
  font-size: 1.8rem;
  line-height: 1.8;
}

.u_rotate3 {
  display: inline-block !important;
  transform: rotate(-3deg) !important;
}

.u_color-secondary {
  color: #FFA015 !important;
}

.u_btn-right {
  display: grid;
  justify-items: end;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 5fr;
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
  max-height: 100vh;
}
.header__background-color {
  background-color: #2E20A7;
  grid-column: 1/span 3;
  grid-row: 1/span 7;
}
.header__logo {
  grid-column: 1/span 1;
  grid-row: 1/span 4;
  align-self: center;
  justify-self: center;
}
.header__heading {
  grid-column: 2/span 2;
  grid-row: 3/span 3;
}
.header__button {
  grid-column: 2;
  grid-row: 6/span 1;
  align-self: center;
  justify-self: start;
}
.header__background-image {
  background-image: url(../../img/01_header-fabio-comparelli-uq2E2V4LhCY-unsplash.jpg);
  background-image: url(../img/01_header-fabio-comparelli-uq2E2V4LhCY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  grid-column: 4/span 6;
  grid-row: 1/span 8;
  background-repeat: no-repeat;
}
.header__background-filter {
  z-index: 2;
  background-color: #2E20A7;
  grid-column: 4/span 1;
  grid-row: 1/span 7;
  mix-blend-mode: screen;
}
.header .heading-primary {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5rem;
  grid-template-rows: auto 1fr;
  justify-items: start;
  justify-content: center;
}
.header .heading-primary--up {
  grid-column: 1;
  grid-row: 1;
  position: relative;
}
.header .heading-primary--up__text {
  z-index: 50;
  position: relative;
}
.header .heading-primary--up__underline {
  display: flex;
  transform: translateY(-4.5rem);
}
.header .heading-primary__arrow {
  width: 100%;
  align-self: center;
}
.header .heading-primary--main {
  grid-column: 1/span 2;
  position: relative;
}
.header .heading-primary--main__text {
  z-index: 100;
  position: relative;
}
.header .heading-primary--main__underline {
  display: flex;
  position: absolute;
  bottom: -0.5rem;
  width: 100%;
  right: 0;
  z-index: -1;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  height: 4.5rem;
  width: 4.5rem;
  position: fixed;
  top: 5rem;
  left: 9rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
}
.navigation__background {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 100%;
  position: fixed;
  top: 5rem;
  left: 9rem;
  background-image: radial-gradient(rgba(46, 32, 167, 0.6), #2E20A7);
  z-index: 999;
  transition: transform 0.8s;
}
.navigation__nav {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.navigation__list {
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1.2rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}
.navigation__link:hover {
  color: #FFA015;
  transform: translateX(0.5rem);
}
.navigation__link:active {
  color: #FFA015;
  transform: translateX(1.2rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  transform: translateY(-0.1rem);
}
.navigation__button:hover .navigation__icon::after {
  transform: translateY(0.1rem);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.quote {
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  min-height: 20rem;
}
.quote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../img/03_citation-cosmic-environment-with-millions-colorful-bright-lights.jpg);
  background: url(../img/03_citation-cosmic-environment-with-millions-colorful-bright-lights.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.quote::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2E20A7;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  z-index: 2;
}
.quote__text, .quote__author {
  position: relative;
  z-index: 999;
}

/*# sourceMappingURL=preview-style.comp.css.map */
