@use "../abstracts/variables" as *;

@mixin grid-center
{
    display: grid;
    justify-content: center;
    align-content: center;
}

@mixin background-image
{
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    // background-position: left center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

@mixin background-filter
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color-primary;
    width: 100%;
    height: 100%;
    // mix-blend-mode: darken;
    z-index: 2;
}

@mixin responsive ($breakpoint)
{

    //! ORDER: Base + typography > general layout + grid > page layout > components
    // 1em = 16px
    @if $breakpoint ==phone-s
    {
        @media only screen and (max-width:20em)
        {
            @content;
        }
    }

    @if $breakpoint ==phone
    {
        @media only screen and (max-width:26.25em) //420px

        {
            @content;
        }
    }

    @if $breakpoint ==phone-l
    {
        @media only screen and (max-width:36em) //576px

        {
            @content;
        }
    }

    @if $breakpoint ==tablet
    {
        @media only screen and (max-width: 48em) //768px

        {
            @content;
        }
    }

    @if $breakpoint ==laptop
    {
        @media only screen and (max-width: 64em) // 1024px

        {
            @content;
        }
    }

    @if $breakpoint ==laptop-l
    {
        @media only screen and (max-width: 90em) // 1440px

        {
            @content;
        }
    }

    @if $breakpoint ==big-screen
    {
        @media only screen and (min-width : 120em) // 1920px

        {
            @content;
        }
    }

}