@use "../abstracts" as *;

.about
{
    & > :first-child
    {
        padding-bottom: 0;
    }

    & > :nth-child(2)
    {
        padding-top: 0;
    }

    &__image
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: start;

        &__picture,
        &__background
        {
            grid-row: 1;
            grid-column: 1;
        }

        &__picture
        {
            z-index: 2;
            display: block;
            max-width: 60rem;
            height: auto;
            // clip-path: circle(40%);
            clip-path: ellipse(21rem 21rem at 50% 40%);

        }

        &__background
        {
            z-index: 1;
            position: relative;
            width: 100%;
            max-width: 45rem;
        }
    }

    &__heading,
    &__coaching
    {
        grid-column: 1 / span 5;
        display: flex;
        flex-direction: column;
    }

    &__heading span:last-of-type
    {
        margin-left: 5rem;
    }

    &__coach
    {
        &__button-container
        {
            display: grid;
            justify-items: end;
            margin-top: 2rem;
        }
    }

    &__arrow
    {
        grid-column: 4 / span 5;
        display: grid;
        justify-self: center;
        grid-template-columns: 1fr 2fr;
        // grid-template-rows: repeat(2, auto);

        &__text
        {
            display: flex;
            flex-direction: column;
            text-align: center;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700;
            line-height: initial;


            span
            {
                font-size: 3rem;
            }
        }

        img
        {
            width: 20rem;
            grid-row: 2;
            grid-column: 1 / span 2;
            justify-self: center;
        }
    }

    &__advantages
    {
        grid-column: 7 / span 5;
        grid-row: 2 / 3;

        &__item
        {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            column-gap: 1rem;

            &__img
            {
                width: 5rem;
            }

            &__text
            {
                color: $color-white;
                border-radius: 1rem;
                padding: 1.5rem 2rem;
                vertical-align: bottom;
                align-self: center;

            }

            &--1 p
            {
                background-color: $color-primary;

            }

            &--2 p
            {
                background-color: $color-primary-90;

            }

            &--3 p
            {
                background-color: $color-primary-80;

            }

            &--4 p
            {
                background-color: $color-primary-70;

            }

            &--5 p
            {
                background-color: $color-primary-60;

            }
        }

        &__item:not(:last-child)
        {
            margin-bottom: 1.5rem;
        }
    }

    &__btn
    {

        grid-column: 2 / span 2;
        justify-self: end;
        align-self: flex-end;
    }
}