@use "../abstracts" as *;

.container
{
    &--1400
    {
        max-width: 140rem;
        margin: 0 auto;
        padding: 5rem 2rem;

        // @include responsive(laptop-l)
        // {
        //     padding: 5rem 2rem;
        // }
    }

    &--1200
    {
        max-width: 120rem;
        margin: 0 auto;
        padding: 5rem 4rem;

        @include responsive(laptop)
        {
            padding: 5rem 2rem;
        }
    }

    &--1600
    {
        max-width: 160rem;
        margin: 0 auto;
        padding: 6rem 2rem;
    }

    &--1024
    {
        max-width: 102.4rem;
        margin: 0 auto;
        padding: 5rem 0;
    }

    &--video
    {
        max-width: 100rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        img
        {
            width: 100%;
            height: auto;
        }
    }

}