@use "../abstracts/" as *;
@use "../base/" as *;

.header
{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 5fr;
    grid-template-rows: repeat(8, 1fr); // TODO à mettre en auto sous 1600 px ou minmax ! 
    min-height: 100vh;

    @include responsive(laptop)
    {
        max-height: 100vh;
    }

    @include responsive(phone)
    {
        min-height: initial;
    }

    &__background-color
    {
        background-color: $color-primary;
        grid-column: 1 / span 3;
        grid-row: 1 / span 7;

    }

    &__logo
    {
        &--icon
        {
            display: none;
            grid-column: 1;
            grid-row: 1;
            align-self: center;
            justify-self: center;
            width: 3.5rem;

            @include responsive(phone-l)
            {
                display: initial;
            }
        }

        grid-column: 1 / span 1;
        grid-row: 1/ span 4;
        align-self: center;
        justify-self: center;
        width: 4rem;

        @include responsive(laptop)
        {
            // grid-row: 1/ span 3;
            width: 3.5rem;
            align-self: center;
            justify-self: center;

        }

        @include responsive(phone-l)
        {
            display: none;
        }
    }

    &__heading
    {
        grid-column: 2 / span 2;
        grid-row: 3 / span 3;

        @include responsive(laptop-l)
        {
            grid-row: 2 / span 4;
        }

        @include responsive (laptop)
        {
            grid-row: 2 / span 3;
        }

        @include responsive(tablet)
        {
            grid-row: 2 / span 2;
        }

    }

    &__button
    {
        grid-column: 2;
        grid-row: 6 / span 1;
        align-self: center;
        justify-self: start;
        text-align: center;
        border: 2px solid $color-white ;


        @include responsive (laptop)
        {
            grid-row: 6 / span 1;

        }

        @include responsive(phone)
        {
            grid-row: 5 / span 1;
        }

    }

    &__background-image
    {
        background-image: url(../../img/01_header-fabio-comparelli-uq2E2V4LhCY-unsplash.jpg);
        background-image: url(../img/01_header-fabio-comparelli-uq2E2V4LhCY-unsplash.jpg);
        background-position: center;
        background-size: cover;
        grid-column: 4 / span 6;
        grid-row: 1 / span 8;
        background-repeat: no-repeat;
    }

    &__background-filter
    {
        z-index: 2;
        background-color: $color-primary;
        grid-column: 4 / span 1;
        grid-row: 1 / span 7;
        mix-blend-mode: screen;
    }

    .heading-primary
    {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 5rem;
        grid-template-rows: auto 1fr;
        justify-items: start;
        justify-content: center;

        @include responsive(tablet)
        {
            grid-template-columns: 1fr;
        }


        &--up
        {
            grid-column: 1;
            grid-row: 1;
            position: relative;


            &__text
            {
                z-index: 50;
                position: relative;
            }

            &__underline
            {
                display: flex;
                transform: translateY(-4.5rem);
            }

        }

        &__arrow
        {
            // grid-column: 2;
            width: 100%;
            align-self: center;

            @include responsive (laptop)
            {
                display: none;
            }
        }

        &--main
        {
            grid-column: 1 / span 2;
            position: relative;

            @include responsive(tablet)
            {
                grid-column: 1 / span 1;
            }

            &__text
            {
                z-index: 100;
                position: relative;
            }

            &__underline
            {
                display: flex;
                // transform: translateY(-4.5rem);
                position: absolute;
                bottom: -0.5rem;
                width: 100%;
                right: 0;
                z-index: -1;
            }
        }
    }
}