@use "../abstracts" as *;

.quote
{
    @include grid-center;
    position: relative;
    min-height: 20rem;

    &::before
    {
        @include background-image;
        background: url(../../img/03_citation-cosmic-environment-with-millions-colorful-bright-lights.jpg);
        background: url(../img/03_citation-cosmic-environment-with-millions-colorful-bright-lights.jpg);
        background-position: left center;
    }

    &::after
    {
        @include background-filter;
        background-color: $color-primary;
        mix-blend-mode: multiply;

    }

    &__text,
    &__author
    {
        position: relative;
        z-index: 999;
    }
}