@use "../abstracts" as *;

.btn
{

    &,
    &:link,
    &:visited
    {
        display: grid;
        border-radius: 10px;
        color: $color-white;
        padding: 2rem 4rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        border: 2px solid $color-white;
        justify-content: center;
        width: fit-content;
        cursor: pointer;
    }

    &-primary
    {
        background-color: $color-primary;

    }

    &-secondary
    {
        background-color: $color-secondary;
    }
}