.container
{
    &--1400
    {
        max-width: 140rem;
        margin: 0 auto;
        padding: 10rem 1rem;
    }

    &--1200
    {
        max-width: 120rem;
        margin: 0 auto;
        padding: 10rem 4rem;
    }

    &--video
    {
        max-width: 100rem;
        margin: 0 auto;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}