.grid
{
    display: grid;

    &-2x1fr
    {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    &-11x1fr
    {
        grid-template-columns: repeat(11, 1fr);
        column-gap: 2rem;
    }

    &-3x1fr
    {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}