.list--vertical
{
    &__item
    {
        list-style: disc outside;
        margin-left: 1.6rem;
        font-size: 1.6rem;



    }

    &__item:not(:last-of-type)
    {
        margin-bottom: 1rem;
    }
}

.list--horizontal
{
    display: flex;
    justify-content: center;
    align-items: center;

    &__item
    {
        margin: 0.5rem;
    }
}