@use "../abstracts" as *;

.u_rotate3
{
    display: inline-block !important;
    transform: rotate(-3deg) !important;
}


.u_color-secondary
{
    color: $color-secondary !important;
}

.u_btn-right
{
    display: grid !important;
    justify-items: end !important;
}

.u_underline-svg
{
    display: grid !important;
    justify-content: center !important;
}