@use "../abstracts" as *;
@use "../base" as *;


//? ---------------------------------- teaser
.teaser
{

    &__heading
    {
        align-items: center;
    }

    &__infographic
    {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        margin: 10rem 0;

        @include responsive(tablet)
        {
            grid-template-columns: 1fr;
        }

        @include responsive(tablet)
        {
            grid-template-columns: 1fr 8fr 1fr;
        }

        @include responsive (phone-l)
        {
            grid-template-columns: 1fr;
        }

        img
        {
            grid-column: 2;
            width: 100%;
            height: auto;

            @include responsive(phone-l)
            {
                grid-column: 1;
            }
        }
    }

    &__btn
    {
        margin-top: 2rem;
    }



}

//? ---------------------------------- QUOTE
.quote
{
    @include grid-center;
    position: relative;
    min-height: 20rem;
    padding: 2rem 5rem;

    &::before
    {
        @include background-image;
        background: url(../../img/03_citation-cosmic-environment-with-millions-colorful-bright-lights.jpg);
        background: url(../03_citation-cosmic-environment-with-millions-colorful-bright-lights.jpg);
        background-position: left center;
    }

    &::after
    {
        @include background-filter;
        background-color: $color-primary;
        mix-blend-mode: multiply;

    }

    &__text,
    &__author
    {
        position: relative;
        z-index: 999;
    }
}

//? ---------------------------------- ABOUT

.about
{

    &__coach
    {

        grid-template-areas: "picture heading" "picture text";

        grid-template-rows: auto 1fr;

        @include responsive(laptop-l)
        {
            grid-template-columns: repeat(2, 50%);

        }

        @include responsive(phone-l)
        {
            grid-template-columns: 1fr;
            grid-template-areas: "heading" "picture" "text";
            // grid-template-rows: auto 50rem auto;
            row-gap: 1.5rem;
        }

        @include responsive(phone-s)
        {
            grid-template-rows: auto 45rem auto;

        }

        &__img
        {
            grid-row: 1 / span 2;
            width: 100%;
            height: auto;
            display: block;
            grid-area: picture;

            @include responsive(phone-l)
            {
                max-width: 50vw;
                justify-self: center;
            }


            &__picture,
            &__background
            {
                grid-row: 1;
                grid-column: 1;
            }

            &__picture
            {
                z-index: 2;
                display: block;
                max-width: 60rem;
                height: auto;
                width: unset;
            }
        }

        &__text
        {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &__description
            {
                margin-bottom: 2rem;
            }
        }

    }

    &__heading
    {
        grid-area: heading;
    }

    &__text
    {
        grid-area: text;
        grid-column: 2 / span 1;

        @include responsive(phone-l)
        {
            grid-area: text;
        }

        &__button-container
        {
            display: grid;
            justify-items: end;
            margin-top: 2rem;

            @include responsive(phone-l)
            {
                grid-area: text;
            }
        }

    }


    &__coaching
    {
        padding-top: 0;
        grid-template-areas:
            "heading heading heading heading heading . . . . . ."
            "text text text text text . pictures pictures pictures pictures pictures"
            ". . . arrow arrow arrow arrow arrow . . ."
        ;
        grid-template-rows: auto 1fr auto;

        @include responsive(phone-l)
        {
            grid-template-areas: "heading" "text" "arrow" "pictures" "button";
            row-gap: 1.5rem;
            margin-top: 5rem;
        }

        &__heading
        {
            // grid-column: 1 / span 5;
            grid-area: heading;
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            justify-content: space-around;

            & span:last-of-type
            {
                margin-left: 5rem;
            }

            @include responsive(phone-l)
            {
                margin-bottom: 0;
            }
        }

        &__text
        {
            grid-area: text;
        }

        &__arrow
        {
            // grid-column: 4 / span 5;
            display: grid;
            justify-self: center;
            grid-template-columns: 1fr 2fr;
            grid-area: arrow;

            // grid-template-rows: repeat(2, auto);
            @include responsive(laptop)
            {
                grid-template-columns: 1fr 1fr;
            }

            @include responsive(phone-l)
            {
                // grid-column: 1 / span 1;


            }

            &__text
            {
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 700;
                line-height: initial;
                align-items: center;

                @include responsive(phone-l)
                {
                    grid-column: 1 / span 2;

                }


                span
                {
                    font-size: 3rem;
                }
            }

            img
            {
                width: 18rem;
                grid-row: 2;
                grid-column: 1 / span 2;
                justify-self: center;

                @include responsive(laptop)
                {
                    width: 10rem;
                    justify-self: end;
                    transform: translateX(-5rem);
                }

                @include responsive(phone-l)
                {
                    transform: scaleY(-1) rotateZ(-90deg) translateY(5rem) translateX(0rem);
                    // transform: rotateY(180deg) rotateZ(100deg) translateY(5rem) translateX(0rem);
                    justify-self: center;
                    width: 7.5rem;
                }
            }
        }

        &__advantages
        {

            grid-area: pictures;


            @include responsive(phone-l)
            {
                margin-top: 2rem;
            }

            &__item
            {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                column-gap: 1rem;

                &__img
                {
                    width: 5rem;
                }

                &__text
                {
                    color: $color-white;
                    border-radius: 1rem;
                    padding: 1.5rem 2rem;
                    vertical-align: bottom;
                    align-self: center;

                }

                &--1 p
                {
                    background-color: $color-primary;

                }

                &--2 p
                {
                    background-color: $color-primary-90;

                }

                &--3 p
                {
                    background-color: $color-primary-80;

                }

                &--4 p
                {
                    background-color: $color-primary-70;

                }

                &--5 p
                {
                    background-color: $color-primary-60;

                }
            }

            &__item:not(:last-child)
            {
                margin-bottom: 1.5rem;
            }


        }

        &__btn
        {

            // grid-column: 2 / span 2;
            justify-self: end;
            align-self: flex-end;
            grid-area: text;
            margin-bottom: 5rem;

            @include responsive(phone-l)
            {
                grid-area: unset;
                margin-bottom: initial;
                align-self: center;
            }

        }
    }










}

//? ----------------------------------- TRUST
.trust
{
    position: relative;
    z-index: 999;

    &::before
    {

        @include background-image;
        background-image: url(../../img/06_jack-b-SxhNnU46jAc-unsplash.jpg);
        background-image: url(06_jack-b-SxhNnU46jAc-unsplash.jpg);
        background-position: left bottom;

    }

    &::after
    {
        @include background-filter;
        mix-blend-mode: darken;
    }

    & > *
    {
        position: relative;
        z-index: 10;
    }

    .grid
    {
        row-gap: 6rem;
        column-gap: 10rem;

        @include responsive(laptop)
        {
            column-gap: 6rem;
        }

    }

    &__heading
    {

        color: $color-white;
        grid-column: span 2;
        text-align: center;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        // justify-content: center;
        // display: inline;
        // display: grid;
        // grid-template-columns: 1fr;


        // @include responsive(laptop-l)
        // {
        //     flex-direction: column;
        // }
        // span:first-child
        // {
        //     white-space: nowrap
        // }

        @include responsive(phone-l)
        {
            grid-column: span 1;
        }
    }

    &__item
    {
        display: grid;
        // grid-template-columns: 1fr 3fr;
        grid-template-columns: auto 1fr;
        column-gap: 2rem;
        align-content: center;
        justify-items: start;
        align-items: start;

        &__img
        {
            width: 10rem;
            max-height: 10rem;
            grid-row: span 2;
            align-self: center;
        }

        &__heading
        {
            color: $color-white;
        }

        &__text
        {
            color: $color-white;
        }
    }
}

//? ---------------------------------- GIFT
.gift
{

    min-height: 100vh;
    align-items: center;

    @include responsive(laptop)
    {
        min-height: unset;
    }

    & > .grid
    {
        grid-template-areas:
            "heading picture"
            "text picture"
            "form picture";
        grid-template-rows: auto auto 1fr;

        @include responsive(tablet)
        {
            grid-template-columns: 1fr;
            grid-template-areas:
                "heading"
                "picture"
                "text"
                "form";
            grid-template-rows: initial;
        }
    }

    &__cta
    {
        &__description
        {
            margin: 3rem 0;
            grid-area: text;
        }

        &__btn
        {
            grid-template-columns: 1fr 5rem;
            position: relative;
            column-gap: 1rem;
            width: 45rem;


            @include responsive(phone)
            {
                width: 100%;
                height: 6rem;

            }

            @include responsive(phone-s)
            {
                height: fit-content;
            }


            img
            {
                width: 5rem;
                position: absolute;
                transform: translate(30rem, 1.7rem);



                // @include responsive(tablet)
                // {
                //     transform: translate(45rem, 1.7rem);
                // }

                // @include responsive(phone)
                // {
                //     transform: translate(36rem, 2rem);
                // }

                @include responsive(tablet)
                {
                    transform: translate(0, 0);
                    // position: relative;
                    right: 5rem;
                }
            }
        }

        &__form
        {
            grid-area: form;

            input[type=text],
            input[type=email],
            button
            {
                @include responsive (laptop)
                {

                    width: 100%;
                }
            }
        }
    }

    &__img
    {

        // background-image: url(../../img/07_GuideCTA-ebook_mockup.png);
        // background-image: url(../img/07_GuideCTA-ebook_mockup.png);
        // background-size: cover;
        // background-repeat: no-repeat;
        grid-area: picture;

        &__item
        {

            width: 100%;
            height: auto;
        }
    }




}

//? ---------------------------------- OFFERS
.offers
{
    position: relative;
    z-index: 999;

    &::before
    {
        @include background-image;
        background-image: url(../../img/08_cosmic-environment-with-millions-colorful-bright-lights.jpg);
        background-image: url(../img/08_cosmic-environment-with-millions-colorful-bright-lights.jpg);
        background-position: center;
    }

    & > *
    {
        // position: relative;
        z-index: 10;
    }

    & > div:first-child // container grid original 3x1fr

    {
        position: relative;

        @include responsive(laptop)
        {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 2rem;
        }

        @include responsive(phone-l)
        {
            grid-template-columns: 1fr;
        }

        & > div:last-child // last div, last offer

        {
            @include responsive(laptop)
            {
                grid-column: 1 / span 2;
                justify-self: center;
                // width: 50%;
            }

            @include responsive(phone-l)
            {
                grid-column: 1 / span 1;
            }
        }
    }


    &::after
    {
        @include background-filter;
        mix-blend-mode: darken;
    }

    &__heading
    {
        grid-column: 1 / span 3;
        color: $color-white;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 5rem;

        @include responsive(laptop)
        {
            grid-column: 1 / span 2;
        }

        @include responsive(phone-l)
        {
            grid-column: 1 / span 1;
        }

        &__underline
        {
            display: grid;
            justify-content: center;

            img
            {
                // width: 100%;
                transform: translateY(-2rem);
                position: relative;
                z-index: -1;
            }
        }
    }

    &__item
    {
        transition: all 0.2s;
        position: relative;
        background-color: $color-white;
        border-radius: 1rem;
        padding: 3rem 8rem;
        box-shadow: 0rem 0rem 1.5rem 0.5rem rgba($color-black, 0.15);

        @include responsive(laptop-l)
        {
            padding: 3.5rem;
        }

        @include responsive (tablet)
        {
            padding: 2rem 4rem;
        }


        &__img
        {
            // width: 20rem;
            height: 12rem;
            display: block;
            margin: 0 auto;

            @include responsive(laptop-l)
            {
                width: 15rem;
            }

            @include responsive(tablet)
            {
                width: 10rem;
            }
        }

        &__heading
        {
            margin: 2.5rem 0;
        }

        &__text
        {

            &__paragraph:not(:last-of-type)
            {
                margin-bottom: 1.5rem;
            }
        }



        &__btn
        {
            margin-top: 3rem;
            align-self: end;
        }
    }
}

//? ----------------------------------- FAQ
.faq
{
    .grid
    {
        row-gap: 2rem;
    }

    &__heading
    {
        grid-column: 1 / span 2;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        @include responsive(phone-l)
        {
            grid-column: 1 / span 1;
        }
    }

    &__container
    {
        display: flex;
        flex-direction: column;
    }

    &__item
    {

        border: 2px solid $color-black;
        border-radius: 1rem;
        padding: 1rem 1rem;

        &:not(:last-child)
        {
            margin-bottom: 1.5rem;
        }


        &__question
        {
            padding: 1rem 0;
            cursor: pointer;
        }

        &__answer
        {
            padding: 1rem 0;
        }


    }

    &__btn
    {
        grid-column: 1 / span 2;
        justify-self: center;
        // font-weight: 400 !important;
        justify-items: center;

        @include responsive(phone-l)
        {
            grid-column: 1 / span 1;
        }
    }
}

//? ----------------------------------- TESTIMONIALS

.testimonials
{
    position: relative;
    z-index: 999;

    @include responsive(phone)
    {
        padding: 3rem;
    }

    &::before
    {
        @include background-image;
        background-image: url(../../img/10_temoignages-pexels-fauxels-3184426.jpg);
        background-image: url(../img/10_temoignages-pexels-fauxels-3184426.jpg);
        background-position: center;
    }

    & > *
    {
        position: relative;
        z-index: 10;
    }

    &::after
    {
        @include background-filter;
        mix-blend-mode: hard-light;
    }

    .grid
    {
        @include responsive(phone-l)
        {
            row-gap: 7rem;
        }


    }

    &__heading
    {
        color: $color-white;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10rem;
        // margin-bottom: 3rem;
        flex-wrap: wrap;


    }

    &__item
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-white;
        border-radius: 2rem;
        padding: 7rem 2rem 2rem 2rem;
        // padding: 4rem 2rem;
        position: relative;





        &__picture
        {

            // display: none;
            // border-radius: 100%;
            background-color: $color-white;
            border-radius: 50%;
            transform: translateY(-50%);
            position: absolute;
            top: 0;
            padding: 1rem;

            i
            {
                font-size: 6rem;
                color: $color-secondary;
                z-index: 1000;
                position: relative;
            }
        }

        &__heading
        {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__name
            {
                margin-bottom: 0.5rem;
            }

            &__status
            {
                margin-bottom: 2rem;

            }
        }


        // &__text
        // {}
    }
}

//? ----------------------------------- CALL
.call
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;

    &__icon
    {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);
        height: 50rem;

        @include responsive(phone)
        {
            height: 40rem;
        }
    }

    &__heading
    {
        padding-top: 25rem;
    }

    &__text
    {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
}

//? ----------------------------------- FOLLOW-ME
.follow-me
{
    background-image: url(https://place-puppy.com/1980x800);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5rem 0;

    // @include responsive(phone-l)
    // {
    //     background-position: center right;
    // }

    &__container
    {
        grid-template-areas: "heading buttons" "text buttons";
    }

    &__heading
    {
        color: $color-white;
        grid-area: heading;
    }

    &__paragraph
    {
        grid-area: text;
        color: $color-white;
    }

    &__social-networks
    {
        grid-area: buttons;
        display: flex;
        flex-direction: column;

        &__item
        {
            &__img
            {
                border-radius: 2rem;
            }
        }
    }


    // &__baseline
    // {}

    // &__heading
    // {}

    // &__paragraph
    // {}

    &__form
    {
        align-items: flex-end;

        input
        {
            @include responsive(tablet)
            {

                width: 100%;
            }
        }

        &__btn
        {
            border: none;

        }
    }
}